* {
  box-sizing: border-box;
}

html {
  font-family: $fontFamily;
  color: $fontDarkPrimary;
}

a {
  color: $accentColor;
  text-decoration: none;
  transition: color .3s ease;

  &:hover {
    color: $accentDark;
  }
}

img {
  max-width: 100%;
  height: auto;
}