.header {
  background-color: #000000;
  color: #ffffff;
  padding-top: 2rem;
  transition: all .3s ease;
  transform-origin: top;

  @mixin atMedium {
    position: fixed;
    width: 100%;
    z-index: 1;

    &--transparent {
      display: fixed;
      background-color: rgba(0,0,0,0.3);
      padding-top: .5rem;
      padding-bottom: .5rem;
    }
  }

  &__title-bar {

    &__title {
      text-align: center;
    }

    &__button-holder {
      text-align: center;
    }

    @mixin atMedium {
      @mixin clearfix;

      &__title {
        margin: 0;
        float: left;
      }

      &__button-holder {
        float: right;
      }
    }
  }

  & .icon {
    display: block;
  }
}